{% extends "base.html" %} {% block content %}

<h2>Check your skin</h2>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=1590552440961845&autoLogAppEvents=1"></script>

<div class="fb-share-button" data-href="https://insolation.onrender.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Finsolation.onrender.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">

      <body>

        <p>This is a self-diagnostic tool to help people pre-examine skin and thus take early protection and treatment.</p>
        <p>An official report by WHO indicates that there is a correlation between Climate Change and Human Health. There are several studies showing that solar radiation is the main cause of skin cancer such as melanoma and other types. The most vulnerable group are descendants of White Caucasian, especially a group of people living in an ambient UVR. </p>
        <p>A core of this app is previously built of one of a top 1% of the first Healthcare Challenge in 2018 by a leading dermatology lab and technology from Microsoft and Google in 2018. The idea was started for a hackathon session at Martigny Sep 2019.</p>
        <p>Ref. https://www.who.int/globalchange/climate/summary/en/index5.html </p>

      </body>

        <label for="imageUpload" class="upload-label">
          Choose...
        </label>
        <input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>


    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

    <div id="fb-root"></div>

    <div id="fb-root"></div>

</div>

{% endblock %}
